.commentContainer {
    box-shadow: 0px 0px 10px rgba(92, 92, 92, 0.596);
    margin-bottom: 18px;
    min-height: 100px;
}

.usernameBox--1 {
    background-color: rgba(235, 91, 75, 0.426);
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 9px;
    font-weight: bold;
    
}
.usernameBox--2 {
    background-color: rgba(59, 249, 192, 0.426);
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 9px;
    font-weight: bold;
}

.usernameBox--3 {
    background-color: rgba(99, 185, 239, 0.426);
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 9px;
    font-weight: bold;
}

.commentBox {
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 5px;
    padding-right: 5px;
}

.scrollBox {
    width:100%;
    max-height:500px;
    /* line-height:3em; */
    overflow:auto;
    padding:5px;
}
