/* search results buttons css below */

.unlovedBtn {
  border: solid 2px red !important;
}

.unhatedBtn {
  border: solid 2px green !important;
}

.lovedBtn {
  background-color: red !important;
}

.hatedBtn {
  background-color: green !important;
}
.redText {
  color: red !important;
}

.greenText {
  color: green !important;
}

.whiteText {
  color: white !important;
}

/* search result cards */

.cardImage {
  min-width: 200px;
  max-width: 200px;
}

.cardGroup {
  min-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  width: 28%;
  margin: 1%;
  overflow: hidden;
}